In [10]:
# Importando as bibliotecas

import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

In [11]:
# Lendo base de dados

prospect_data = pd.read_csv("target_app.csv")
prospect_data.dtypes

SESSION_ID          int64
Click_Image         int64
Read_Reviews        int64
Category_View       int64
Read_Details        int64
Video_View          int64
Add_to_List         int64
Compare_Products    int64
View_Similar        int64
Save_for_Later      int64
Personalized        int64
BUY                 int64
dtype: object

In [12]:
# Inspecionando dados da tabela

prospect_data.head()

,SESSION_ID,Click_Image,Read_Reviews,Category_View,Read_Details,Video_View,Add_to_List,Compare_Products,View_Similar,Save_for_Later,Personalized,BUY
0,27873,0,0,1,0,1,0,0,0,1,0,0
1,27874,0,1,1,0,0,0,0,0,0,1,0
2,27875,1,0,1,1,1,0,0,0,1,0,0
3,27876,1,0,0,0,1,1,1,0,0,0,0
4,27877,1,1,1,0,1,0,1,0,0,0,0

In [13]:
# Fazendo uma  análise estatística resumida dos dados
prospect_data.describe()

,SESSION_ID,Click_Image,Read_Reviews,Category_View,Read_Details,Video_View,Add_to_List,Compare_Products,View_Similar,Save_for_Later,Personalized,BUY
count,500.000000,500.000000,500.0000,500.000000,500.0000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,28122.500000,0.510000,0.5200,0.440000,0.4800,0.528000,0.500000,0.580000,0.468000,0.532000,0.550000,0.370000
std,144.481833,0.500401,0.5001,0.496884,0.5001,0.499715,0.500501,0.494053,0.499475,0.499475,0.497992,0.483288
min,27873.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27997.750000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,28122.500000,1.000000,1.0000,0.000000,0.0000,1.000000,0.500000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,28247.250000,1.000000,1.0000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,28372.000000,1.000000,1.0000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
# Análise de correlação

prospect_data.corr()['BUY']

SESSION_ID          0.026677
Click_Image         0.046819
Read_Reviews        0.404628
Category_View      -0.095136
Read_Details        0.009950
Video_View         -0.022239
Add_to_List        -0.103562
Compare_Products    0.190522
View_Similar       -0.096137
Save_for_Later      0.179156
Personalized        0.110328
BUY                 1.000000
Name: BUY, dtype: float64

In [17]:
# Eliminando colunas com baixa correlação

predictors = prospect_data[['Read_Reviews','Compare_Products','Add_to_List','Save_for_Later','Personalized', 'View_Similar']] 
targets = prospect_data.BUY

In [23]:
# Script de treinamento e teste
# Divisão do modelo em dados de treinamento e teste na proporção de 70:30

pred_train, pred_test, tar_train, tar_test = train_test_split(predictors, targets, test_size = .3)
print('Predictor - Training:', pred_train.shape, 'Predictor - Testing:', pred_test.shape)

Predictor - Training: (350, 6) Predictor - Testing: (150, 6)

In [25]:
# Construindo modelo e verificando a precisão 

from sklearn.naive_bayes import GaussianNB

classifier = GaussianNB()
classifier = classifier.fit(pred_train, tar_train)

predictions = classifier.predict(pred_test)

# Analisar a precisão das previsões

sklearn.metrics.confusion_matrix(tar_test, predictions)

array([[77, 30],
       [16, 27]], dtype=int64)

In [26]:
# Pontuação de precisão

sklearn.metrics.accuracy_score(tar_test, predictions)

0.6933333333333334

In [28]:
# Prever a probabilidade de um usuário comprar 

pred_prob = classifier.predict_proba(pred_test)
pred_prob[0,1]

0.45943305035748006

In [30]:
# Simulação de previsão em tempo real

browsing_data = np.array([0, 0, 0, 0, 0, 0]).reshape(1, -1)
print('New User: Propensity: ', classifier.predict_proba(browsing_data)[:,1])

New User: Propensity:  [0.06051618]

C:\Users\maryn\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [32]:
# Previsão de converter se o usuário comparar um produto 

browsing_data = np.array([0, 1, 0, 0, 0, 0]).reshape(1, -1)
print('New User: Propensity: ', classifier.predict_proba(browsing_data)[:,1])

New User: Propensity:  [0.16162675]

C:\Users\maryn\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(